body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle closest-corner, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #363A4E;
}

.content{
    max-width: 95%;
    margin: 0 auto;
}

h1{
    color: #FFF;
    text-align: center;
}

h2, h3, a, p{
    color: #FFF;
}
/*=======================
===      MENU         ===                 
=======================*/

.header_nav{
    background: rgba(217, 217, 217, 0.13);
    padding: 10px;
    margin-bottom: 50px;
}


.header_menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 6.5rem;
}

.header_menu li, a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}


/*=======================
===      Главная      ===                 
=======================*/


.index{
    display: flex;
}

.index h1{
    font-size: 64px;
    color: #fff;
}

.index p{
    font-size: 36px;
    color: #fff;
}

button{
    background: #4685FF;
    border: none;
    border-radius: 45px;
    padding: 20px 45px;
    cursor: pointer;
}

button::before{
    content: '';
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


.img {
    float: left;
}


/*=======================
===      Товары       ===                 
=======================*/

.goods_page h1{
    color: #FFF;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.cards p{
    font-weight: 100;
    font-size: 32px;
    color: #fff;
    padding-left: 45px;
    opacity: .4;
}

.card_item{
    margin: 40px;
    width: 380px;
    border: 5px solid #c3c3c3;
}

.card_name{
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
}

.image_g{
    display: flex;
    justify-content: center;
}

.description_item{
    font-weight: 100;
    font-size: 32px;
    color: #fff;
    padding-left: 45px;
}

.btn_g{
    margin: 20px;
}

/*=======================
===       Форма       ===                 
=======================*/

.feedback{
    display: grid;
    justify-content: center;
    align-items: center;
}

.feedback_form{
    display: grid;
    width: 500px;
}

form{
    display: grid;
}

.form_order{
    padding-left: 30px;
}

label{
    color: #fff;
    padding-top: 20px;

}

input{
    background: transparent;
    height: 40px;
    border: none;
    border-bottom: 1px solid #FFF;
    font-size: 24px;
    color: #FFF;
    
}

input::placeholder{
    font-size: 24px;
    color: grey;
}

input:focus::placeholder{
    color: darkslategray;
}

input:focus{
    outline: none;
}


#id_order_photo{
    border-bottom: none;
}

.fm_btn{
    margin: 40px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
/* input{
    border: solid #000000;
    border-radius: 20px;
    margin: 10px 20px 10px 0;
    padding: 10px;
} */

.form_item{
    display: flex;
}

