{% extends 'goods/base.html' %}

{% block content %}
<h1 align="center">Как оформить заказ</h1><br>
<h3 align="center">Для заказа картин, вам надо перейти в товары и выбрать нужную услугу, Впишите данные в поля и нажмите кнопку
    "Отправить". </h3>
<h3 align="center">Через некоторое время с вами свяжется менеджер и для уточнения заказа</h3><br>

<h2 align="center">Как еще связаться с нами?</h2>
<h3 align="center">В разделее <a href="{% url 'contacts' %}">КОНТАКТЫ</a> есть ссылка на нашу группу в
    <a href="https://vk.com/picture_nsk89">Вконтакте</a>, а также номера и мессенджеры, где вы можете связаться с нами</h3>

{% endblock %}