            <select name="size" id="size">
                <option value="40x30">40x30</option>
                <option value="40x60">40x60</option>
                <option value="70x70">70x70</option>
                <option value="80x60">80x60</option>
                <option value="100x80">100x80</option>
                <option value="120x100">120x100</option>
                <option value="myself_size">Договорная</option>
            </select>
            <select name="price" id="price"></select>

            <script src="{% static 'JS/script.js' %}"></script>