{% load static %}
<header class="header">
    <div class="container">
        <nav class="header_nav">
            <ul class="header_menu">
                <li class="header_menuItem"><a href="{% url 'index' %}">главная</a></li>
                <li class="header_menuItem"><a href="{% url 'goods' %}">товары</a></li>
                <li class="header_menuItem"><a href="{% url 'contacts' %}">контакты</a></li>
                <li class="header_menuItem"><a href="{% url 'about_order' %}">как заказать</a></li>
            </ul>
        </nav>
    </div>
</header>