body{
    background: rgb(182, 220, 231);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgb(0, 179, 255);
    padding: 20px;
    margin-top: 0;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.flash{
    padding: 10px;
}
.flash.success{
    border: 1px solid #21DB56;
    background: #AEFFC5;
}
.flash.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

.menu a{
    font-weight: bold;
    color: white;
}

ul{
    list-style: none;
    padding: 0;
}

p>a{
    text-decoration: none;
    color: rgb(94, 94, 94);
}

li>p, li div{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
}

p.title{
    margin: 0;
    font-weight: bold;
    background-color: rgb(107, 232, 246);
}

p.title a{
    display: block;
}

p.title:hover{
    background: rgb(0, 179, 255);
}
.annonce{
    margin-top: -1px;
    background: #FFF;
    margin-bottom: 40px;
}